@media (max-width: 1390px) {
  .up-button {
    display: none !important; } }

/* Medium desktop */
@media (max-width: 1229px) {
  .container {
    width: auto !important;
    padding-left: 40px;
    padding-right: 40px; }
  .navbar-wrapper {
    margin: 0 0 0 90px; }
  .brand-tmb .col-md-3:nth-child(4n+1) {
    clear: none; }
  .brand-tmb .col-md-3:nth-child(3n+1) {
    clear: left; }
  .contacts-table-big .btn {
    margin-bottom: 20px;
    margin-top: 5px; }
  ul.sidebar-menu-alt {
    margin-right: 0; }
  .home-section-descr {
    padding: 54px 50px 70px 50px; }
  .section-shipping-ttl {
    font-size: 100px; }
  .footer-logo {
    width: 130px; }
  .footer-subscribe {
    width: 310px; }
  .footer-subscribe-form .form-field {
    width: 240px; }
  .footer-contacts {
    padding: 13px 30px 0 130px; }
  .footer-soclinks {
    padding: 18px 0 0 127px; } }

/* Medium desktop END */
/* Small desktop */
@media (max-width: 991px) {
  ul.sidebar-menu {
    font-size: 13px;
    line-height: 22px; }
  table.contacts-table-big {
    font-size: 22px;
    line-height: 32px; }
  ul.collections-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
  .catalog .col-md-4:nth-child(3n+1) {
    clear: none; }
  .catalog .col-sm-6:nth-child(2n+1) {
    clear: left; }
  .login-content {
    padding: 0 100px; }
  .home-section-descr {
    padding: 30px 30px 30px 30px;
    font-size: 16px;
    line-height: 24px; }
  .home-section-descr h2,
  .home-section-descr .h2 {
    font-size: 24px;
    line-height: 30px; }
  .home-section-descr ul > li:before {
    top: 4px; }
  .home-section-descr .btn-2 {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px; }
  .section-shipping-ttl {
    font-size: 80px; }
  .footer-logo {
    padding: 0 0 27px 0; }
  .footer-subscribe {
    width: 320px; }
  .footer-contacts {
    padding: 13px 0 0 0; }
  .footer-soclinks {
    padding: 18px 0 0 0; }
  .footer-subscribe .form-field {
    width: 250px; }
  .home-play-button {
    margin-right: -275px; }
  .gallery-thumbs {
    margin: 16px -16px 0 0; }
  .gallery-thumbs a {
    margin: 0 16px 16px 0; }
  .variants-catalog .row {
    margin-left: -13px;
    margin-right: -13px; }
  .variants-catalog .catalog-tmb {
    margin-left: 8px;
    margin-right: 8px; }
  .header-controls-item + .header-controls-item {
    margin-left: 13px; } }

/* Small desktop END */
@media (min-width: 768px) {
  .logo-mobile {
    display: none; }
  .navbar-trigger {
    display: none; }
  .catalog-item-sidebar h1,
  .catalog-item-sidebar .h1 {
    display: none; }
  .catalog-item-content h1,
  .catalog-item-content .h1 {
    display: block; }
  .sidebar-menu-trigger {
    display: none; } }

@media (max-width: 767px) {
  .header-ttl {
    display: none; }
  .navbar-collapse {
    position: fixed;
    display: block;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: rgba(24, 20, 22, 0.95);
    margin: 0;
    border: none;
    overflow: auto;
    transition: all .5s ease; }
  .navbar-collapse.open {
    left: 0; }
  .navbar-wrapper {
    position: relative;
    width: 375px;
    min-height: 100%;
    float: right;
    background: #f7d496;
    margin: 0;
    text-align: right;
    padding: 74px 0 0 0; }
  .user-link {
    position: absolute;
    left: 49px;
    top: 27px;
    color: #181416 !important;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none !important; }
  .navbar-nav {
    margin: 0;
    padding: 0;
    text-align: right; }
  .navbar-nav > li {
    display: block;
    margin: 0;
    padding: 0;
    position: relative; }
  .navbar-nav > li:after {
    display: none; }
  .navbar-nav > li:before {
    content: "";
    position: absolute;
    left: 55px;
    right: 55px;
    bottom: 0;
    background: #debe87;
    height: 1px;
    z-index: 10; }
  .navbar-nav > li > a {
    display: block;
    color: #181416;
    transition: color .2s ease;
    padding: 27px 55px 27px 55px;
    text-decoration: none;
    font-weight: 300 !important; }
  .navbar-nav > li > a.active {
    font-weight: bold; }
  .navbar-nav + .navbar-nav {
    margin-top: 70px; }
  .navbar-close {
    position: absolute;
    width: 25px;
    right: 55px;
    top: 11px;
    height: 21px;
    margin: 16px 0 0 0;
    cursor: pointer;
    z-index: 301; }
  .navbar-close span {
    width: 100%;
    height: 1px;
    background: #181416;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3 ease;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  .navbar-close span:nth-child(2) {
    top: 50%;
    margin-top: -1px; }
  .navbar-close span:nth-child(3) {
    top: auto;
    bottom: 0; }
  .navbar-close span:nth-child(1) {
    top: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .navbar-close span:nth-child(2) {
    display: none; }
  .navbar-close span:nth-child(3) {
    top: 50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .header-home .header-top {
    z-index: 210; }
  .header-home .header-bottom {
    position: relative;
    left: auto; }
  .header-home .header-bottom-content {
    height: auto; }
  .header-home {
    background: #181416; }
  .header-menu-trigger {
    display: none; }
  .page-content table {
    display: block;
    overflow-x: auto;
    white-space: nowrap; }
  .intext-gallery {
    text-align: center;
    width: 370px;
    margin-left: auto;
    margin-right: auto; }
  .intext-gallery img {
    margin-bottom: 25px; }
  .intext-video iframe {
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 240px; }
  .big {
    font-size: 20px;
    line-height: 30px; }
  blockquote {
    font-size: 20px;
    line-height: 30px; }
  header {
    background: #181416; }
  .header-contacts {
    display: none; }
  .header-user {
    display: none; }
  .header-logo {
    position: absolute;
    left: 55px;
    top: 21px;
    padding: 0; }
  .header-logo img {
    display: none; }
  .header-logo .logo-mobile {
    display: inline-block; }
  .header-controls-count {
    background-color: #fff;
    color: #181416; }
  .header-controls-item .ico {
    color: #fff; }
  .header-controls-item .icon-fav:before {
    background-image: url(../images/ico-header-fav-home.png); }
  .header-top {
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 0; }
  .header-controls {
    padding: 0;
    margin: 15px 104px 0 0; }
  .header-controls-item + .header-controls-item {
    margin-left: 39px; }
  .header-controls-item .ttl {
    display: none; }
  .navbar-trigger {
    position: absolute;
    right: 55px;
    top: 11px;
    z-index: 200; }
  .header-bottom {
    padding: 0 0 8px 0; }
  .header-bottom-content {
    border: none; }
  ul.breadcrumb {
    display: none; }
  #mobile-indicator {
    display: block; }
  .main {
    padding: 42px 0 73px 0; }
  .main-home {
    padding-top: 0;
    padding-bottom: 0; }
  .main .container {
    padding-left: 55px;
    padding-right: 55px; }
  .catalog-item {
    padding-top: 0; }
  .catalog-item h1,
  .catalog-item .h1 {
    margin-top: 0; }
  .gallery-big {
    margin-left: -55px;
    margin-right: -55px; }
  .gallery-big .zoom {
    display: none; }
  .gallery-big img {
    width: 100%; }
  .gallery-thumbs {
    display: none; }
  ul.slick-dots {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    font-size: 0; }
  ul.slick-dots > li {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 5px; }
  ul.slick-dots > li:before {
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
    opacity: .25; }
  ul.slick-dots > li.slick-active:before {
    opacity: 1; }
  ul.slick-dots > li button {
    display: none; }
  .catalog-item-content h1,
  .catalog-item-content .h1 {
    display: none; }
  .catalog-item-sidebar h1,
  .catalog-item-sidebar .h1 {
    display: block; }
  .catalog-item-content h1,
  .catalog-item-content .h1 {
    display: none; }
  .catalog-gallery {
    margin: 0 0 44px 0; }
  .catalog-gallery .tmb-like {
    right: -55px; }
  .catalog-gallery .tmb-like:after {
    right: 7px; }
  .catalog-item-controls .row > *:not(:last-of-type) .btn {
    margin-bottom: 25px; }
  .features-row {
    display: block;
    margin: 0 0 75px 0; }
  .features-cell {
    display: block;
    width: auto; }
  .see-also {
    margin-top: 48px; }
  .see-also h2,
  .see-also .h2 {
    margin-bottom: 55px; }
  .also-catalog,
  .popular-catalog {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
  .also-catalog .slick-slide,
  .popular-catalog .slick-slide {
    clear: none !important; }
  .also-catalog ul.slick-dots > li:before,
  .popular-catalog ul.slick-dots > li:before {
    background-color: #000; }
  .also-catalog ul.slick-dots,
  .popular-catalog ul.slick-dots {
    bottom: -10px; }
  .catalog-item-info {
    padding-top: 47px; }
  .questions-form {
    margin: 44px -55px -73px -55px;
    padding: 32px 55px 50px 55px; }
  .questions-form h3,
  .questions-form .h3 {
    font-size: 15px; }
  footer .container {
    padding-left: 55px;
    padding-right: 55px; }
  .footer-logo {
    display: none; }
  .footer-contacts {
    padding: 23px 0 10px 0; }
  .footer-soclinks {
    text-align: center;
    margin-bottom: 25px; }
  footer h4,
  footer .h4 {
    margin: 0 0 15px 0; }
  .footer-copy {
    margin-bottom: 25px; }
  .footer-dev {
    text-align: left; }
  .footer-bottom {
    padding-bottom: 50px; }
  .catalog-slider {
    margin: 0 -55px 50px -55px; }
  .catalog-slider .slide-content {
    padding: 41px 55px 105px 55px;
    width: auto; }
  .catalog-slider .slick-prev {
    left: 55px; }
  .catalog-slider .slick-next {
    left: 105px; }
  .alphabet-menu {
    text-align: left; }
  .alphabet-menu-name {
    display: block;
    margin: 0 0 12px 0; }
  ul.alphabet-menu-list > li {
    margin: 0 0 13px 0; }
  .brands-list {
    font-size: 0;
    text-align: center; }
  .brands-list .row > * {
    width: 200px;
    display: inline-block;
    float: none; }
  .orders-item {
    display: block;
    width: auto; }
  .orders-item-l {
    display: block;
    width: auto; }
  .orders-item-r {
    display: block;
    width: auto;
    border: none;
    padding-top: 6px; }
  .orders-item-status {
    position: relative;
    left: auto;
    right: auto;
    top: auto; }
  .order-info-table td.name {
    width: 48%; }
  .order-more-link {
    margin: 8px 0 0 0; }
  .orders-list {
    margin: 26px 0 50px 0; }
  .sidebar-menu {
    display: none; }
  .sidebar-menu-trigger {
    position: relative;
    padding: 0 0 0 20px;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #181416;
    font-weight: bold;
    cursor: pointer;
    display: inline-block; }
  .sidebar-menu-trigger .ico {
    position: absolute;
    left: 0;
    top: 8px;
    width: 11px;
    height: 9px; }
  .sidebar-menu-trigger span {
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #181416; }
  .sidebar-menu-trigger span:nth-child(2) {
    top: 4px; }
  .sidebar-menu-trigger span:nth-child(3) {
    top: 8px; }
  .sidebar + .page-content {
    padding-top: 0; }
  .sidebar {
    padding-top: 8px; }
  .cart-item {
    display: block;
    position: relative; }
  .cart-item:after {
    content: "";
    display: table;
    clear: both; }
  .cart-item-pic {
    display: block;
    width: auto;
    padding: 0; }
  .cart-item-pic .pic {
    width: 100%;
    height: 80px;
    margin: 0 0 25px 0; }
  .cart-item-descr {
    display: block;
    width: auto;
    padding: 0 15px 0 15px; }
  .cart-item-descr h2,
  .cart-item-descr .h2 {
    margin-bottom: 25px; }
  .cart-item-count {
    float: left;
    width: 50%;
    padding: 2px 0 0 10px;
    display: block;
    text-align: left; }
  .count-btn {
    width: 31px; }
  .cart-item-price {
    float: left;
    width: 50%;
    padding: 16px 0 0 15px;
    text-align: left; }
  .cart-on-demand {
    text-align: left; }
  .cart-price {
    text-align: left; }
  .cart-item-remove {
    width: auto;
    display: block;
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer; }
  .btn-cart-remove {
    background: #f7d496; }
  .cart-info-table {
    width: 100%;
    margin-bottom: 24px; }
  .cart-info-table td.name {
    width: 55%; }
  .cart-item-info {
    margin-left: -5px;
    margin-right: -5px; }
  .cart-total {
    float: none;
    margin: 23px 0 0 0; }
  .cart-total-content {
    float: none; }
  .cart-total-table {
    width: 100%; }
  .cart-total-table td.name {
    width: 54%; }
  .cart-total-name {
    width: 52%;
    display: inline-block; }
  .cart-total-btn {
    text-align: left; }
  .cart-total-btn .btn {
    width: 100%; }
  h1 a,
  .h1 a,
  h1 a:focus,
  .h1 a:focus {
    margin: 13px 0 0 0; }
  .form-radio-text {
    width: 50%; }
  .order-coupon {
    margin-top: 25px; }
  .search-form-short {
    margin-bottom: 63px; }
  .search-form-short .form-group {
    margin-right: -20px; }
  .search-form-short .btn-1 {
    width: auto;
    border: none;
    padding: 0;
    color: #f7d496;
    margin: 9px 0 0 0; }
  .search-catalog {
    width: 370px;
    margin-left: auto;
    margin-right: auto; }
  .form-extra-trigger {
    border: none; }
  .form-extra-trigger .trigger {
    padding: 0 30px; }
  .form-extra-trigger .trigger:before {
    left: 3px; }
  .form-extra-trigger .trigger:after {
    right: 3px; }
  .search-form .form-footer .btn {
    display: block;
    width: 100%;
    margin: 0 0 25px 0 !important; }
  .login-wrapper {
    display: block; }
  .login-sidebar {
    width: auto;
    height: auto;
    display: block; }
  .login-content {
    padding: 0 55px;
    display: block;
    width: auto;
    height: auto; }
  .login-sidebar-logo {
    padding: 30px 0 0 0; }
  .login-sidebar-text {
    padding: 100px 55px 30px 55px; }
  .login-form {
    padding-top: 50px;
    padding-bottom: 50px; }
  .add-to-cart-modal .modal-dialog {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; }
  .add-to-cart-modal .add-to-cart {
    padding: 49px 30px 30px 30px; }
  .add-to-cart .cart-tmb-descr {
    width: 245px;
    padding-top: 10px; }
  .add-to-cart .cart-tmb-price {
    display: none; }
  .add-to-cart-footer .btn-1 {
    width: 170px; }
  .add-to-cart-footer .btn-2 {
    float: right;
    width: 170px; }
  .add-to-cart-footer:after {
    content: "";
    display: table;
    clear: both; }
  .cart-popup {
    width: 480px;
    right: -119px; }
  .cart-popup:before {
    right: 120px; }
  .cart-tmb-descr {
    width: 250px; }
  .cart-popup-footer .row {
    margin-left: -5px;
    margin-right: -5px; }
  .cart-popup-footer .row > * {
    padding-left: 5px;
    padding-right: 5px; }
  .main-slider .slide {
    min-height: 625px;
    padding-top: 81px; }
  .main-slider .slide-ttl {
    font-size: 33px;
    line-height: 37px;
    margin: 0 0 30px 0; }
  .main-slider .slide-button .btn {
    width: 100%; }
  .main-slider .slick-prev {
    left: 54px;
    margin-left: 0; }
  .main-slider .slick-next {
    left: 104px;
    margin-left: 0; }
  .brands-nav {
    display: none; }
  .brands-slider .slick-prev,
  .brands-slider .slick-next {
    width: 40px;
    height: 40px;
    border: 1px solid #181416;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    background-color: transparent;
    -webkit-appearance: none;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 100;
    cursor: pointer; }
  .brands-slider .slick-prev {
    left: -20px; }
  .brands-slider .slick-next {
    right: -20px; }
  .brands-slider .slick-prev:before {
    content: "";
    width: 9px;
    height: 15px;
    background: url(../images/main-slider-arrows-alt.png) 0 0 no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -8px; }
  .brands-slider .slick-next:before {
    content: "";
    width: 9px;
    height: 15px;
    background: url(../images/main-slider-arrows-alt.png) -9px 0 no-repeat;
    position: absolute;
    right: 50%;
    top: 50%;
    margin-right: -6px;
    margin-top: -8px; }
  .home-section-brands {
    padding-bottom: 36px; }
  .home-section-bg-wrapper {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    height: 350px; }
  .home-section-descr {
    transform: none !important;
    top: auto !important;
    margin: 0 -55px;
    padding: 54px 50px 70px 50px;
    font-size: 20px;
    line-height: 25px; }
  .home-section-descr h2,
  .home-section-descr .h2 {
    font-size: 30px;
    line-height: 37px; }
  .home-section {
    margin-bottom: 0; }
  .home-section-video-wrapper {
    height: auto !important;
    position: relative; }
  .home-section-video {
    position: absolute !important;
    min-height: 0 !important;
    height: 350px !important;
    top: 0 !important; }
  .home-section-video .home-section-bg-wrapper {
    position: relative;
    left: auto;
    width: 100%; }
  .home-video-wrapper {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    height: 350px !important; }
  .video-wrapper-text {
    padding-top: 350px; }
  .home-play-button {
    display: block !important;
    top: 180px;
    left: 50%;
    margin-left: -54px; }
  #sectionVideoDescr {
    position: relative;
    left: auto;
    top: auto; }
  .section-shipping-ttl {
    position: relative;
    font-size: 70px;
    line-height: 75px;
    top: auto;
    left: auto;
    padding: 60px 0 0 0; }
  .section-shipping-text {
    padding: 36px 20px 2px 20px; }
  .article-footer-share-buttons {
    float: left; }
  .catalog-footer {
    text-align: center; }
  .catalog-more-btn,
  .catalog-more-btn:focus {
    float: none; }
  .bx-pagination {
    float: none;
    text-align: center; }
  .also-catalog .tmb-pic {
    height: 370px; }
  .rels-catalog .catalog-tmb {
    width: 170px; }
  .rels-catalog .catalog-tmb .tmb-pic {
    height: 170px; }
  .variants-catalog .catalog-tmb {
    width: 116px; }
  .variants-catalog .tmb-pic {
    height: 106px; }
  h1 .btn-clear,
  .h1 .btn-clear,
  h1 .btn-clear:focus,
  .h1 .btn-clear:focus {
    float: none;
    margin-top: 10px; } }

@media (max-width: 479px) {
  .navbar-nav > li:before {
    left: 20px;
    right: 20px; }
  .navbar-nav > li > a {
    padding: 27px 20px 27px 20px; }
  .navbar-wrapper {
    width: 320px; }
  .user-link {
    left: 20px; }
  .navbar-close {
    right: 20px; }
  .form-footer {
    margin-left: 0;
    margin-right: 0; }
  .page-content .form-footer .btn {
    width: 100%;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0; }
  .intext-gallery {
    width: 280px; }
  .intext-video iframe {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 160px; }
  h2,
  .h2 {
    font-size: 22px;
    line-height: 30px; }
  .navbar-trigger {
    right: 20px; }
  .header-logo {
    left: 20px; }
  .header-controls {
    margin-right: 80px; }
  .catalog-item h1,
  .catalog-item .h1 {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 32px; }
  .main {
    padding-top: 32px; }
  .main-home {
    padding-top: 0;
    padding-bottom: 0; }
  .btn {
    white-space: normal; }
  .main .container {
    padding-left: 20px;
    padding-right: 20px; }
  .also-catalog,
  .popular-catalog {
    width: 280px; }
  .gallery-big {
    margin-left: -20px;
    margin-right: -20px; }
  .questions-form {
    margin: 44px -20px -73px -20px;
    padding: 32px 20px 50px 20px; }
  footer .container {
    padding-left: 20px;
    padding-right: 20px; }
  .footer-subscribe-form .form-field {
    width: 210px; }
  .footer-subscribe {
    width: 280px; }
  .catalog-slider {
    margin: 0 -20px 50px -20px; }
  .catalog-slider .slide-content {
    padding: 41px 20px 105px 20px; }
  .catalog-slider .slick-prev {
    left: 20px; }
  .catalog-slider .slick-next {
    left: 70px; }
  .catalog-slider .h2 {
    font-size: 26px;
    line-height: 35px; }
  .footer-menu {
    font-size: 13px; }
  .order-info-table {
    display: block; }
  .order-info-table td.name {
    display: block;
    width: auto;
    padding: 0 0 0 0; }
  .order-info-table td.val {
    display: block;
    padding: 0 0 20px 0; }
  .orders-item-l {
    padding: 20px 20px 20px 20px; }
  .orders-item-r {
    padding: 6px 20px 20px 20px; }
  .cart-item-descr {
    padding: 0; }
  .cart-info-table {
    display: block; }
  .cart-info-table td.name {
    display: block;
    width: auto;
    padding: 0 0 0 0; }
  .cart-info-table td.val {
    display: block;
    width: auto;
    padding: 0 0 10px 0; }
  .cart-total-table {
    line-height: 20px; }
  .cart-total-table td.name,
  .cart-total-table td.val {
    padding-bottom: 20px; }
  .order-form-wrapper,
  .order-total,
  .order-coupon {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px; }
  .search-catalog {
    width: 280px; }
  .search-form .col-xs-6 {
    width: 100%; }
  .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    width: auto; }
  .login-sidebar-text {
    padding: 100px 20px 30px 20px; }
  .login-content {
    padding: 0 20px; }
  .add-to-cart-modal .modal-dialog {
    width: 300px; }
  .add-to-cart-modal .add-to-cart {
    padding: 20px 20px 20px 20px; }
  .add-to-cart .cart-tmb-descr {
    width: 100%; }
  .add-to-cart-footer {
    margin: 0; }
  .add-to-cart-footer .btn {
    float: none;
    width: 100%;
    margin: 0 0 15px 0; }
  .cart-popup {
    width: 320px;
    right: -95px; }
  .cart-popup:before {
    right: 96px; }
  .cart-tmb-pic {
    float: none;
    margin: 0 0 15px 0; }
  .cart-tmb-descr {
    width: auto;
    float: none; }
  .cart-tmb-price {
    text-align: left;
    margin: 10px 0 0 0; }
  .home-section-descr {
    margin: 0 -20px;
    padding: 20px; }
  .brands-slider .slick-prev {
    left: -10px; }
  .brands-slider .slick-next {
    right: -10px; } }
